---
layout: default
title: Mountain Beyond Mountain
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">Every Family Deserves a Chance</h1>
				<p class="editable">Many Haitian families don't have the resources to pull themselves out of poverty.</p>
				<div class="button">
					<a href="#donate">Sponsor a Family</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="images/four-kids.png" alt="Sheep">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">Why Haiti</h2>

	<ul class="thirds">
		
		<li>
			<div class="image">{% include icons/site.html icon="education" %}</div>
			<h3 class="editable">Education</h3>
			<hr>
			<p class="editable">50 percent of Haitian children do not attend school. </p>
			<hr>
			<p class="editable">Haiti’s literacy rate is 61% </p>
		</li>
		
		<li>
			<div class="image">{% include icons/site.html icon="water" %}</div>
			<h3 class="editable">Water Access</h3>
			<p class="editable">Less than half of Haitians in rural areas have access to improved drinking water. </p>
			<p class="editable">17% of Haitians in rural areas have access to improved sanitation facilities </p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Economy</h3>
			<p class="editable">59% of Haitians live on less than $2.41 per day.</p>
			<p class="editable">24% of Haitians live on less than $1.23 per day.</p>
		</li>

	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="images/haiti-hut.png" alt="Sheep">
		</div>
		<div>
			<h2> <i>Beyond the mountains, there are mountains.</i> </h2>
			<p class="editable">As the Haitian proverb alludes, life’s struggles never stop coming. Unfortunately for the poorest of Haiti, one more burden can often be the difference between life and death. Our mission is to equip those in most need with the tools to make it over life’s next mountain. </p>
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">Beyond the mountains, there are mountains.</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/wooly.jpg" alt="Wooly"></span>
				<span class="author editable"><strong>As the Haitian proverb alludes, life’s struggles never stop coming. Unfortunately, for the poorest of Haiti, one more burden can often be the difference between life and death. Our goal is to equip those in most need with the tools to make it over life’s next mountain. </strong></span>
			</p>
		</div>
	</blockquote>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Join us</h2>
		<p class="editable" style="text-align: center;">Sign up to hear the latest news and progress in our fight for the sheep vote.</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email">
			<input type="submit" value="Sign up"/>
		</form>
	</div>
</div>

<div class="container" id="donate">
	<h2 class="editable">Make a donation</h2>
	<div class="donate">
		{{ site.donation_embed }}
	</div>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
