<svg 
     version="1.1" 
     xmlns="http://www.w3.org/2000/svg" 
     xmlns:xlink="http://www.w3.org/1999/xlink" 
     width="100px" height="60px" 
     viewBox="0 0 100 60" preserveAspectRatio="none"> 
   <g> 
<image width="100" height="60" xlink:href="data:image/png;base64, 
iVBORw0KGgoAAAANSUhEUgAAAGQAAAA8CAYAAACQPx/OAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAAsTAAALEwEAmpwY
AAABWWlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpu
czptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS40LjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9
Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRm
OkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8v
bnMuYWRvYmUuY29tL3RpZmYvMS4wLyI+CiAgICAgICAgIDx0aWZmOk9yaWVudGF0aW9uPjE8L3Rp
ZmY6T3JpZW50YXRpb24+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+Cjwv
eDp4bXBtZXRhPgpMwidZAAAH2UlEQVR4Ae1ZW2wUVRj+5raXdrcttFsuhba2tEoLVEAM2ABe4iVq
fBYTiTGoiTz5YvBBjW8ETXxRNMZLJD6gTxIxYvHOTWNVICCUiq2Kpddt996dnZ3xP2e6dot9mcSx
J+ac7OycM/PPOf983/kvZ46C5nccyCIMAqowmkhFOAKSEMEmgiREEiIYAoKpIy1EEiIYAoKpIy1E
EiIYAoKpIy1EEiIYAoKpIy1EEiIYAoKpIy1EEiIYAoKpIy1EEiIYAoKpIy1EEuIDAmzP83+y76n7
AM+/2qWqABodDG86/V1KbZsquubes2xXqFyOPVCSLVKFyYtcxCaEwIsYdAQUzGA9B0uXDAWprI20
5WBpVOWAz0cI881p00HSpMq1AnN6XdiGuIQwMgJAst9CEvOhWJrqRUIwSIeKIWT42YX0WtSZfACR
Np2Ioeq1t92HFvxfSEKYi4qSVUxdMrF3Xwu2b21G3rSgKLMoqqoKTVMRCgYxPDSBXK6A5pYlMM0C
rGIRts1syi2O4yAY0PH1sUHsefpX1LQHkCo4YC5MtCIsIRXkqqZQwI03LsXmza3z4nax/zym8mNo
W6YiPTmFjDqN+lgt2lpvmFc+kZqm632oCASQtSAJmReleS6yietOXgUFk7kkAq9ocwtRKcpbVgFf
nfgGB3sO4q3fjmLX8lY4tom3hq/gsaa78OA9D2Lblq3QdZ0sxQGzEGZNbl8KtUv9866F+hPSQmYd
E2E102DuinksBq6uG4jV1qGrbR12kX97c/AwqrVKPL7qbqy9bg2/x8hgsq6XK3Uyi/2cMWYvL3hN
SEIKBMtsBChhxMClLIpiQ2E6ia41XWhfdT1+PNOLc68fR4VRg0fu24n1azciFArCzCWgB6vALMpx
5uZorMXGELHoywVcUbEUtYKOEdLt75lMU93MpREIV+LqudNkKjqabu5GZ8d6vLxjD1SjAu2r13My
Bk99AzWoonFDN3/GCEU49m5fDmqoX4OOf5K+8BTpQwoZSXm2wbReqHZpbI4c+9NRpHSWFZUIKRRM
XP7qCC5czOPnvivYGauDZoTQHFsMLRhBNjGOxHAKB94+SRbUiOzoCBq77wAlbLwUOb06hXV6Z2Xm
JUtjuiKui1yo9ycd9PvsbEkV91yuDLvyX7bZWOwgkHRHQS/SCIPSISq5dBz5iTH0HPoTZ+MJ/DYJ
hN8+jHu3h6Gmf4YaqIEV7MNHRxM4/ruJgal+3HS5Fg+tHiNXZyMcWcz7aqC1yk00hsVWlXM9GR/n
P31fNiJ737KiP5s6VNYUpKq71mERJY3FDq6Ulcvj5LsfYDIcwblRA+2LCtB7vkMmdxnhrhxxqCNz
2oB6Zi1i1atwcUzDdStMnKJntu3eRatM4PriCN7Hi9CnN9GyXcy8V68qDgjCQpkaPDUKkbsaQlB1
PX00tgz5VVvwwsMnsOepRbgyksbqLVEYwyqKSzM00QIIDOnYpPXjXKEJt26qwfMvjePQwe2I1C7h
nYeor2pcheb8QdZBaxIBV4a6qdSUISFIlQhRLJ07K7bgziSTCFdWYv2aAF7d/RNqoxXoqK+CTbPe
btyGrDZFbk5HeEMY1fkDeEBdgaw5iNd2T2Fdx12waeWey2b4dy721US3InCU0GwcEeS1mRo6LZcE
UqekCgVy+nTLwrmTTsFJppCYplX4yhZs7F4N8+oriFaloaSAfB9N9DUvANM5WL/sRXAd0BL+EKlJ
E+GO5xBraMbk+DiC1J+TzvA+lWKBXBxbcIqXZ7F0o4SCWOcgLexIIyUSQeWKBpw5fQpf936G0Gg/
8gNpVLbvQH0luazoG4j92UPYFjBGFpPHE5iYSCBz6SCU3Bn0Zg/g9k23o7mtE2qYrIIV9rGMl9J5
pinAiQgRsLAMKGtSVLgB57/9FEfGPkd/38c4P3oJt7XfiyW37kPKCuLs+ACSWj19xxqlBaCBSPVK
VORCtFJvQ8OdtyA+9AN6vn8Gv/Z1YV3rBjQP1dEapJPChwnFdtNp0d5eOVvDkkCxCldIozA9oePL
u3/Ck40mHm18CPdv3UnAA/F0kjxUBtk0pcWhKGxyvAZ9KjEoVU6m4jBpZW6Ew2iiRMCgzyz7vziA
IwPvYf9wFW77hFxeLbkr+olnH6STiISw6eEQ8Hoc+GObgrOxadQEahGtW4nU+CDi/ccQqlMRid1B
wb4OgWCYo1sw88hl4kiPnUBmOInI8mZE6ztRyE4haSXRORJA4zH6OLmYxMULH9wqhCWEk0JTWEsA
hq3RhM5S1nUBGlqhL6qHPZmnkJygI06xhrIsqimIUtCuo2Mx1FgI9liKnht327SJZWk2ilVEhnA+
gXMhPiGcFO7qCUHaOFfYJgltVDk5WtSxwGzQNbahzjbemf9hsYdlUyQD2tJFgO7T4baZSVA6Lahl
cDboT8ygXtKOQchxJLRNAppSX4XA5zuHFAMci4B3iKCyGc/WlPw+q9AzyNMXLPciyZZ1LGhVeEI4
bjNAMjLmtJlZcALmQbcEPiODlVLbbQn7L2buJyxc/ismCfEfY08jSEI8weW/sCTEf4w9jSAJ8QSX
/8KSEP8x9jSCJMQTXP4LS0L8x9jTCJIQT3D5LywJ8R9jTyNIQjzB5b+wJMR/jD2NIAnxBJf/wpIQ
/zH2NIIkxBNc/gtLQvzH2NMIkhBPcPkvLAnxH2NPI/wFtm2ae5PFnMUAAAAASUVORK5CYII=
"/> 
   </g> 
</svg>	
